<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{email/base :: layout(~{::content})}">

<body>
    <div th:fragment="content">
        <h2>Reset Your Password</h2>
        <p>Hello,</p>
        <p>We received a request to reset your password. Click the button below to proceed.</p>
        <p>
            <a th:href="${resetLink}" class="button">Reset Password</a>
        </p>
        <p>If you didn't request this, you can safely ignore this email.</p>
    </div>
</body>

</html>